.body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-column{
    flex-basis: 30%;
    margin-top: 50px;
}

.right-column{
    flex-basis: 65%;
    margin-top: 50px;
}

.user{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.user h2{
    margin-top: 110px;
    color: orangered;
    font-weight: 600;
    font-size: 24px;
}

.profile-pic{
    padding:1vh 5vw;
}

.profile-pic img{
    height: 280px; 
    width: 280px;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 30px;
    border: 3px solid black;
}


.profile-pic label{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 20px;
    background: #44b6f8;
    color:#fff;
    font-weight: 600;
    padding: 12px;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer;
}

.sign-out-btn h1 {
    color: white;
    font-weight: 700;
}

.sign-out-btn{
    display:flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #f87144;
    width: 200px;
    font-weight: 700;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
}

.sign-out-btn a{
    color: white;
    text-decoration: none;
}

.profile-pic input{
    display: none;
}

.wlcm-msg h1{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    color:#f87144;
    font-weight: 800;
}


.change-email{
    margin-top: 50px;
    margin-left: 20px;
    flex-basis: 30%;
}

.change-email h2{
    color: #44b6f8;
    font-weight: 600;
    font-size: 28px;
}

.current{
    margin-top: 20px;
    position: relative;
    width: 250px;
}

.current input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;    
    background: rgb(224, 222, 222);
}

.current span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(123, 121, 121);
    transition: 0.5s;
}

.current input:valid ~ span,
.current input:focus ~ span 
{
    color: orange;
    transform: translateX(0) translateY(-17px);
    font-size: 0.7em;
    padding: 0 5px;
    letter-spacing: 0.15em;
    font-weight: 400;
}

.new{
    margin-top: 15px;
    position: relative;
    width: 250px;
}

.new input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    color:black;
    font-size: 1em;    
    background: rgb(224, 222, 222);
}

.new span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(123, 121, 121);
    transition: 0.5s;
}

.new input:valid ~ span,
.new input:focus ~ span 
{
    color: orange;
    transform: translateX(0) translateY(-17px);
    font-size: 0.7em;
    padding: 0 5px;
    letter-spacing: 0.15em;
    font-weight: 400;
}


.change-username{
    margin-top: 50px;
    flex-basis: 50%;
}

.change-username h2{
    color: #44b6f8;
    font-weight: 600;
    font-size: 28px;
}

.change-password{
    margin-top: 50px;
    margin-left: 20px;
}

.change-password h2{
    color: #44b6f8;
    font-weight: 600;
    font-size: 28px;
}

.button{
    margin-top: 10px;
    padding: 0px;
    background: #4ba55b;
    font-weight: 700;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button p{
    margin-top: 10px;
}

.rightBtn{
    flex-basis: 75%;
}

.pwImg{
    width: 8%;
    position: absolute;
    cursor: pointer;
    right: 15px;
    top:15px;
}

.newPW{
    margin-top: 15px;
    position: relative;
    width: 250px;
}

.newPW input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    color:black;
    font-size: 1em;    
    background: rgb(224, 222, 222);
}

.newPW span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(123, 121, 121);
    transition: 0.5s;
}

.newPW input:valid ~ span,
.newPW input:focus ~ span 
{
    color: orange;
    transform: translateX(0) translateY(-17px);
    font-size: 0.7em;
    padding: 0 5px;
    letter-spacing: 0.15em;
    font-weight: 400;
}

.currPW{
    margin-top: 15px;
    position: relative;
    width: 250px;
}

.currPW input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    color:black;
    font-size: 1em;    
    background: rgb(224, 222, 222);
}

.currPW span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(123, 121, 121);
    transition: 0.5s;
}

.currPW input:valid ~ span,
.currPW input:focus ~ span 
{
    color: orange;
    transform: translateX(0) translateY(-17px);
    font-size: 0.7em;
    padding: 0 5px;
    letter-spacing: 0.15em;
    font-weight: 400;
}
