@tailwind base;
@tailwind components;
@tailwind utilities;

Naver {
    color:aliceblue;
    background-color: blueviolet;
}

p {
    background-color: green;
}

heading {
    background-color: red;
    margin-top: 40%; 
}

.ewHeading {
    text-align: center;
    text-shadow: #485157 1px 0 15px;
    color: #f87144;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    margin-top: 45px;
}

.ewHeading:hover {
    -webkit-text-stroke: 2px #f87144;
    color: transparent;
    transition: 0.8s;
}

.ewEW {
    text-align: center;
    text-shadow: black 1px 0 15px;
    color:white;
    justify-content: center;
    font-size: 100px;
    font-weight: 500;
    transition: 0.8s;
}

.ewEW:hover {
    -webkit-text-stroke: 2px #44b6f8;
    text-shadow: transparent 1px 0 0px;
    color: transparent;
    transition: 0.8s;
}

.ewText {
    text-align: center;
    text-shadow: black 1px 0 10px;
    color:#cde8f9;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    transition: 0.8s;
}

.custom-image {
    margin-top: 0;
    padding-top: 0;
}

.navElements {
    color: white;
    text-shadow: black 0px 0 18px;
    font-size:20px;
    font-weight: 500;
}

.buttonLeft {
    color:white;
    text-align: center;
    width: 100px;
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    text-shadow: black 0px 0 18px;
    box-shadow: 0px 0px 18px black;
    /* position: absolute; */
    /* transform: translateX(500%); */
    /* margin-left: auto;
    margin-right: auto; */
    /* display: block; */
}

.dHead {
    background-color: green;
    color:#20455b;
}

.buttonRight {
    color:white;
    text-align: center;
    width: 100px;
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    text-shadow: black 0px 0 18px;
    box-shadow: 0px 0px 18px black;
    /* position: absolute; */
    /* transform: translateX(810%); code to attempt to align button somewhere */
}