@tailwind base;
@tailwind components;
@tailwind utilities;

Naver {
    color:aliceblue;
    background-color: blueviolet;
}

p {
    background-color: green;
}

heading {
    background-color: red;
    margin-top: 40%; 
}

.ewHeading {
    text-align: center;
    color: #f87144;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    margin-top: 45px;
}

.ewHeading:hover {
    -webkit-text-stroke: 2px #f87144;
    color: transparent;
    transition: 0.8s;
}

.ewEW {
    text-align: center;
    color:white;
    justify-content: center;
    font-size: 100px;
    font-weight: 500;
    transition: 0.8s;
}

.ewEW:hover {
    -webkit-text-stroke: 2px #44b6f8;
    color: transparent;
    transition: 0.8s;
}

.ewText {
    text-align: center;
    color:white;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    transition: 0.8s;
}
